.notification
    width: 300px
    border-radius: 5px
    box-shadow: 0px 2px 5px #888888
    min-height: 60px
    padding: 10px
    color: #000000
    background-color: #fff
    position: fixed
    top: 0
    right: -350px
    margin-top: 200px
    margin-right: 10px
    transition: all 0.3s ease

    &.active
        transform: translate(-350px, 0)

    &.info
        .notification-body
            .title
                color: #9689fa

    &.alert
        .notification-body
            .title
                color: #ffa500

    &.alert-success
        .notification-body
            .title
                color: #77b65d

    &.danger
        .notification-body
            .title
                color: #a31545


